@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
    font-family: "Noto Sans TC", sans-serif;
}
:root{
    
    --color01:#ffffff;
    --color02:#000000;
    
    --color03:#98FB98;
    --color04:#e6e6fa;
    --color05:#fffacd;
    --color06:#f5f5dc;
    --color07:#f08080;
    --color08:#f0f8ff;
    --color09:#ffe4e1;
    --color010:#d8bfd8;
    --color011:#fcdff3;
    --color012:#fcd3d1;
    --color013:#c2e6ff;
    --color014:#9e6d70;
    --color015:#ecba73;
    --color016:#b9cd74;
    --color017:#afb3bc;
    --color018:#757430;
    --color019:#d0b987;
    --color020:#d65a50;
    --color021:#552d91;
    --color022:#fdb927;
    --color023:#fffbf0;
    --color024:#ADD8E6;
    --color025:#FFDAB9;


    /*標題顏色*/
    --color001:#191970
    --color002:#2F4F4F
    --color003:#36454F
    --color004:#800020
    --color005:#4B0082
    --color006:#228B22
    --color007:#1B1811
    --color008:#000080
    --color009:#003333
    --color0010:#100C08
    --color0011:#8B4513
    --color0012:#CC5500
    --color0013:#301934






    --textcolorblack001:#000000;
    --textcolorw001:#ffffff;
    --textcolor002:#666666; 

    /* 背景色 */

    .bg-color01{
        background-color: var(--color01);
    }
    .bg-color02{
        background-color: var(--color02);
    }
    .bg-color03{
        background-color: var(--color03);
    }
    .bg-color04{
        background-color: var(--color04);
    }
    .bg-color05{
        background-color: var(--color05);
    }
    .bg-color06{
        background-color: var(--color06);
    }
    .bg-color07{
        background-color: var(--color07);
    }
    .bg-color08{
        background-color: var(--color08);
    }
    .bg-color09{
        background-color: var(--color09);
    }
    .bg-color010{
        background-color: var(--color010);
    }
    .bg-color011{
        background-color: var(--color011);
    }
    .bg-color012{
        background-color: var(--color012);
    }
    .bg-color013{
        background-color: var(--color013);
    }
    .bg-color014{
        background-color: var(--color014);
    }
    .bg-color015{
        background-color: var(--color015);
    }
    .bg-color016{
        background-color: var(--color016);
    }
    .bg-color017{
        background-color: var(--color017);
    }
    .bg-color018{
        background-color: var(--color018);
    }
    .bg-color019{
        background-color: var(--color019);
    }
    .bg-color020{
        background-color: var(--color020);
    }
    .bg-color021{
        background-color: var(--color021);
    }
    .bg-color022{
        background-color: var(--color022);
    }
    .bg-color023{
        background-color: var(--color023);
    }
    .bg-color024{
        background-color: var(--color024);
    }
    .bg-color025{
        background-color: var(--color025);
    }
    
}